# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# IDE specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyc

# Test coverage
coverage/
*.cover
.hypothesis/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Log files
*.log

# Other
*.bak
*.swp
*.tmp
